.new-goal {
    margin: 2rem;

    input {
        padding: 0.5em;
        background-color: snow;
        color: black;
        font-weight: bold;
    }

    button {
        padding: 0.5em;
        margin: 1em;
    }
}